.form {
  &__inputs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    label {
      color: $secondary-color;
    }
  }
  &__group {
    flex: 1;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
  .btn-secondary {
    width: 10rem;
  }
}
