.paginator {
  ul {
    margin: auto !important;
  }
  .page-item:not(.disabled) {
    a {
      color: $primary-color;
    }
    i {
      color: $primary-color;
    }
  }
  .page-item.active {
    a {
      background-color: $primary-color !important;
      color: #fff;
      border-color: $primary-color !important;
    }
  }
}
