.table {
  table-layout: fixed;

  thead {
    border-color: $primary-color;
  }
  th {
    color: $primary-color;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #fff;
      background-color: $primary-color;
    }
  }
  th:nth-child(1) {
    width: 25%;
  }
  th:nth-child(2) {
    width: 10%;
  }
  th:nth-child(3) {
    width: 15%;
  }
  th:nth-child(4) {
    width: 25%;
  }
  th:nth-child(5) {
    width: 25%;
  }
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $gray-600;
  }
}
