body {
  background-color: $bg-color;
  background-image: url('/assets/sarmad.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right -50% bottom -50%;
  background-size: 50%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@include media-breakpoint-down(lg) {
  body {
    font-size: 12px;
  }
}

@include media-breakpoint-down(md) {
  body {
    font-size: 10px;
  }
}
