@mixin btn($color) {
  border-radius: 999px;
  min-width: 5rem;
  background-color: $color;
  border-color: $color;
  transition: all 0.3s ease-in-out;
  color: #fff;
  &:hover {
    background-color: shade-color($color, 20%);
    border-color: shade-color($color, 20%);
  }
  //disabled
  &:disabled {
    background-color: $gray-300;
    border-color: $gray-300;
    color: $gray-600;
  }
}
